@model PersonViewModel

	<section>

		<h1>@Localizer["Contact"]</h1><br />
		@*asp-route-returnurl="@returnUrl" *@
		<form asp-action="CreateContact" asp-controller="Home"
			  method="post">

			<div asp-validation-summary="All" class="text-danger"></div>
			@*<input type="hidden" name="returnUrl" value="@returnUrl" />*@

			<figure class="form-horizontal">
				<figcaption class="form-group">
					<label asp-for="Name"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</figcaption>
				<figcaption class="form-group">
					<label asp-for="Age"></label>
					<input asp-for="Age" class="form-control" />
					<span asp-validation-for="Age" class="text-danger"></span>
				</figcaption>
				<figcaption class="form-group">
					<button class="btn btn-primary" type="submit">@Localizer["Submit"]</button>
				</figcaption>
			</figure>
		</form>
	</section>

@section Scripts {

      @{ await Html.RenderPartialAsync( "_ValidationScriptsPartial" ); }
}